body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f7f5;
  background-image: radial-gradient(#dce5e1 0.6px, transparent 0.6px);
  background-size: 18px 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}